body {
  text-align: center;
  margin: 0;
  padding: 0;
}

#main {
  width: 626px;
  margin: 64px auto;
}

img #main {
  margin: 0 auto 32px;
}

h1 {
  font-family: "Dosis", sans-serif;
  font-size: 32px;
  line-height: auto;
  font-weight: 500;
  color: #3f3d56;
}

h1 span {
  font-weight: bold;
  color: #ee24ff;
}

span {
  color: #3f3d56;
  font-weight: bold;
}

p {
  font-family: "open sans", sans-serif;
  color: #828282;
  font-size: 15px;
  line-height: 22px;
  font-weight: 100;
  width: 540px;
  margin: auto;
}
h3 {
  display: inline;
  font-family: "open sans", sans-serif;
  color: #3f3d56;
  font-size: 15px;
  line-height: 14px;
  font-weight: 700;
  margin-bottom: 40px;
}

#footer h3 + h3 {
  margin-left: 28px;
}
#footer img {
  display: block;
  margin: auto;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.line {
  width: 568px;
  margin: 0 auto 8px;
  border: 1px solid #eceff2;
}
